@import "variables";

body {
    @include font;
    .App {
        .header {
            nav {
                &.navigation {
                    ul {
                        li {
                            a {
                                color: $grayish-violet;
                                font-weight: bold;
                                &:hover {
                                    color: $very-dark-blue;
                                }
                            }
                        }
                    }
                }
            }
            .user-actions {
                .login {
                    color: $grayish-violet;
                    font-weight: bold;
                    &:hover {
                        color: $very-dark-blue;
                    }
                }
                .signup {
                    background-color: $cyan;
                    color: $white;
                    font-weight: bold;
                    border-radius: 50px;
                    transition: background-color 0.3s ease;
                    &:hover {
                        filter: brightness(95%);
                    }
                }
            }
        }
        .hero {
            .mySwiper {
                .swiper-slide {
                    .slide-content {
                        padding-right: 65px;
                        span {
                            font-size: 85px;
                            font-weight: bold;
                            line-height: 1.2;
                            text-align: start;
                            color: $very-dark-blue;
                        }
                        p {
                            font-size: 25px;
                            text-align: start;
                            color: $grayish-violet;
                        }
                        button {
                            background-color: $cyan;
                            color: $white;
                            font-weight: bold;
                            border-radius: 50px;
                            transition: background-color 0.3s ease;
                            &:hover {
                                filter: brightness(95%);
                            }
                        }
                    }
                }
            }
        }
        .features {
            .headline {
                span {
                    font-size: 40px;
                    font-weight: bold;
                    color: $very-dark-blue;
                }
                p {
                    color: $grayish-violet;
                    font-weight: 500;
                }
            }
            .features-view {
                .features-item {
                    &:first-child {
                        transform: translateY(0px);
                    }
                    &:nth-child(2) {
                        transform: translateY(50px);
                    }
                    &:last-child {
                        transform: translateY(100px);
                    }
                    .image {
                        position: absolute;
                        top: -42px;
                        img {
                            background-color: $dark-violet;
                            padding: 20px;
                            border-radius: 50%;
                        }
                    }
                    .content {
                        p {
                            text-align: start;
                        }
                    }
                }
            }
        }
    }
}
