@import "variables";

body {
    @include font;
    .App {
        .header {
            nav {
                &.navigation {
                    ul {
                        li {
                            a {
                                color: $grayish-violet;
                                font-weight: bold;
                                &:hover {
                                    color: $very-dark-blue;
                                }
                            }
                        }
                    }
                }
            }
            .user-actions {
                .login {
                    color: $grayish-violet;
                    font-weight: bold;
                    &:hover {
                        color: $very-dark-blue;
                    }
                }
                .signup {
                    background-color: $cyan;
                    color: $white;
                    font-weight: bold;
                    border-radius: 50px;
                    transition: background-color 0.3s ease;
                    &:hover {
                        filter: brightness(95%);
                    }
                }
            }
        }
        .hero {
            .mySwiper {
                .swiper-slide {
                    .slide-content {
                        padding-right: 65px;
                        span {
                            font-size: 85px;
                            font-weight: bold;
                            line-height: 1.2;
                            text-align: start;
                            color: $very-dark-blue;
                        }
                        p {
                            font-size: 25px;
                            text-align: start;
                            color: $grayish-violet;
                        }
                        button {
                            background-color: $cyan;
                            color: $white;
                            font-weight: bold;
                            border-radius: 50px;
                            transition: background-color 0.3s ease;
                            &:hover {
                                filter: brightness(95%);
                            }
                        }
                    }
                }
            }
        }
        .url-shortener {
            transform: translateY(75px);
            position: relative;
            z-index: 1;
            .url-shortener-content {
                background-color: $dark-violet;
                background-image:  url(/src/library/images/bg-shorten-desktop.svg);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                form {
                    input[type=text] {
                        width: 100%;
                        padding: 12px 25px;
                        display: inline-block;
                        box-sizing: border-box;
                    }
                    button[type=submit] {
                        background-color: $cyan;
                        color: $white;
                        min-width: 140px;
                        padding: 12px 20px;
                    }
                }
            }
            .url-shortener-result {
                margin-top: 20px;
                .shortened-urls {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    .url-shortener-result-content {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        gap: 5px;
                        background-color: $white;
                        padding: 15px 20px;
                        border-radius: 0.5rem;
                        .current {
                            span {
                                font-weight: 600;
                                color: $very-dark-blue;
                            }
                        }
                        .result {
                            display: flex;
                            gap: 20px;
                            align-items: center;
                            span {
                                font-weight: 600;
                                color: $cyan;
                            }
                            button {
                                background-color: $cyan;
                                color: $white;
                                border-radius: 5px;
                                width: 135px;
                                height: 50px;
                                font-weight: bold;
                                &:hover {
                                    background-color: $dark-violet;
                                }
                            }
                        }
                    }
                }
            }
        }
        .features {
            padding-top: 200px;
            padding-bottom: 210px;
            .headline {
                span {
                    font-size: 40px;
                    font-weight: bold;
                    color: $very-dark-blue;
                }
                p {
                    color: $grayish-violet;
                    font-size: 20px;
                    font-weight: 500;
                }
            }
            .features-view {
                z-index: 1;
                .features-item {
                    &:first-child {
                        transform: translateY(0px);
                    }
                    &:nth-child(2) {
                        transform: translateY(50px);
                    }
                    &:last-child {
                        transform: translateY(100px);
                    }
                    .image {
                        position: absolute;
                        top: -42px;
                        background-color: $dark-violet;
                        padding: 20px;
                        border-radius: 50%;
                        width: 80px;
                        height: 80px;
                    }
                    .content {
                        span {
                            font-size: 25px;
                            font-weight: bold;
                        }
                        p {
                            text-align: start;
                            font-size: 20px;
                            font-weight: 500;
                            color: $grayish-violet;
                        }
                    }
                }
            }
            .line {
                position: absolute;
                width: 100%;
                height: 8px;
                background-color: $cyan;
                left: 0;
                z-index: 0;
                margin-top: 60px;
            }
        }
        footer {
            .footer {
                .get-started {
                    background-color: $dark-violet;
                    background-image: url(/src/library/images/bg-shorten-desktop.svg);
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    span {
                        font-size: 42px;
                        color: $white;
                        font-weight: bold;
                    }
                    button {
                        background-color: $cyan;
                        color: $white;
                        font-weight: bold;
                        border-radius: 50px;
                        transition: background-color 0.3s ease;
                        width: fit-content;
                        &:hover {
                            filter: brightness(95%);
                        }
                    }
                }
                .footer-content {
                    background-color: $very-dark-violet;
                    .footer-logo {
                        a {
                            img {
                                filter: brightness(0) invert(1);
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 475px) {
    body {
        .App {
            .hero {
                padding-left: 10px;
                padding-right: 10px;
                .mySwiper {
                    .swiper-slide {
                        .slide-content {
                            padding-right: 0px;
                            span {
                                font-size: 30px;
                                text-align: center;
                            }
                            p {
                                font-size: 15px;
                                text-align: center;
                            }
                            button {
                                background-color: $cyan;
                                color: $white;
                                font-weight: bold;
                                border-radius: 50px;
                                transition: background-color 0.3s ease;
                                &:hover {
                                    filter: brightness(95%);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}